{% extends 'base.html.twig' %}

{% block title %} Welcome to {{ name }}{% endblock %}

{% block body %}
    <h1>Welcome to {{ name }}</h1>
    <p>Please visit <i style="color: #0088CC">"<a href="{{ url }}">{{ url }}</a>"</i> for more information.</p>
    <ul>
        {% for note in notes %}
        <li>{{ note }}</li>
        {% endfor %}
    </ul>
{% endblock %}
