{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-md-8 blog-main" style="margin-bottom: 50px">
        <h1>New Blog</h1>
        {{ form_start(blogForm) }}
            {{ form_widget(blogForm) }}
        <button type="submit" class="btn btn-primary" formnovalidate>Save</button>
        {{ form_end(blogForm)}}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('../vendor/ckeditor/ckeditor/ckeditor.js') }}"></script>
    <script>
        CKEDITOR.replace( 'app_bundle_blog_form_type[article]', {
            customConfig: '{{ asset('js/ckeditor_config.js') }}'
        } );
    </script>
{% endblock %}